html {
  background-color: #ababa9;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.body {
  color: white;
  margin: 0px auto;
}

.title {
  width: 500px;
  height: 100px;
  margin: 50px auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.h1 {
  width: 500px;
  height: 70px;
  margin: 5px auto 20px auto;
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}
