div {
  display: inline-block;
}

.all {
  margin: 20px auto;
}

.body {
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  width: 500px;
  height: 600px;
  background-color: white;
  color: black;
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  letter-spacing: 1px;
  transition: box-shadow 0.3s ease-in-out;
}

.body:hover {
  transition: all 0.4s linear;
  transform: scale(1.025);
  box-shadow: 0 0 40px 5px hsla(0, 2%, 9%, 0.1);
}

.body::-webkit-scrollbar {
  display: none;
}

.img {
  width: 200px;
  height: 290px;
  margin: 20px 20px;
  border-radius: 25px;
}

.rate {
  float: right;
  margin: 20px 15px 0px 20px;
  font-size: 26px;
  display: inline-block;
  width: 85px;
  height: 30px;
}

.h2 {
  margin: 15px 10px 10px 20px;
  margin-bottom: 5px;
  font-size: 25px;
  cursor: pointer;
}

.year {
  display: inline-block;
  margin: 5px 20px;
}

.summary {
  margin: 20px 10px 20px 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
  height: 90px;
}

.genreBox {
  height: 30px;
  padding-top: 10px;
}

.allGenres {
  float: inline-end;
  width: 380px;
  list-style: none;
  margin: 5px 20px;
  padding: 2px 0px;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.allGenres::-webkit-scrollbar {
  display: none;
}

.genre {
  height: 20px;
  margin-right: 10px;
}
